
@font-face {
  font-family: Space Mono;
  src: url(/fonts/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: Md_Gothic;
  src: url(/fonts/Md_Gothic.ttf) format("truetype");
}

@font-face {
  font-family: Brandon;
  src:  url(/fonts/brandon-text-regular.eot) format("embedded-opentype"),
        url(/fonts/brandon-text-regular.woff) format("woff"),
        url(/fonts/brandon-text-regular.woff2) format("woff2");
}